* {
  font-family: "Exo 2", "monospace";
  font-size: 1rem;
  line-height: 1.334;
}

html, body {
  background: rgba(0, 0, 0, 0.8) url("/images/original.jpg") no-repeat center center fixed;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7) !important;
  background-blend-mode: multiply;
  height: 100%;
}

.App {
  text-align: center;
}

#photo {
  margin-top: 5rem;
}

#passport {
  border-radius: 50%;
  border: 5px solid;
  animation: borderColors 3s infinite linear;
}

#name {
  color: #ff9100;
  letter-spacing: 2px;
  text-shadow: 9px -2px 2px rgb(22, 18, 18);
  font-size: 40px;
}

#intro {
  color: #ff0080;
  font-size: 18px;
}

#about p {
  color: #ff9100;
  font-size: 1.5rem;
}

.projectNav {
  display: inline-block;
  width: 100px;
  cursor: pointer;
  padding: 15px 5px;
  margin: 0 5px;
  border-radius: 5px;
  background-color: #07bbd3;
  font-weight: 500;
  text-decoration: none;
  color: #000000;
  border: 1px solid #07bbd3;
}

.navLink a {
  color: #fff;
  text-decoration: none;
  background-color: lightseagreen;
  padding: 5px 10px;
  border-radius: 3px;
}

.navLink ul li {
  display: inline-block;
  margin: 0 5px;
}

.projectNav:hover {
  background-color: #000000;
  color: #07bbd3;
  border-color: #07bbd3;
  text-decoration: none;
}

.portfolio, #skills_list, #about {
  margin-top: 80px;
}

#about {
  text-align: left;
}

.portfolio:last-child {
  margin-bottom: 80px;
}

#profile {
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.85);
  left: 0%;
  transform: -50%;
}

#profile, #skills_list ul, #skills_list b {
  color: #ff0080;
  padding: 0;
}

#profile, #skills_list, #social_div {
  margin-bottom: 2rem;
}

#skills_list ul li {
  list-style-type: none;
}

.pack {
  margin-bottom: 20px;
}

.row .card {
  height: 100px;
  position: relative;
  background: #ffffff;
}

.card span {
  color: #ff0080;
  font-size: 1.4rem;
  position: absolute;
  top: 38%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
}

.form-horizontal {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.form-horizontal input, .form-horizontal textarea, .form-horizontal input:focus, .form-horizontal textarea:focus {
  background-color: transparent;
  color: #ff9100;
  letter-spacing: 1.5px;
}

.form-horizontal input:focus, .form-horizontal textarea:focus {
  border-color: none;
}

#socials {
    display: flex;
    justify-content: space-between;
}

#socials_wrap {
  margin: 0 auto;
}

#socials_wrap a {
  margin: 0 1rem;
}

@media only screen and (min-width: 992px) {
  .form-group>div:first-child {
    padding: 0 10px;
  }
}

@media only screen and (min-width: 768px) {
  #app {
    width: 80%;
    margin: 0 auto;
  }

  .form-group>div {
    padding: 0;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .card {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .form-group>div {
    padding: 0;
  }

  .form-horizontal input, .form-horizontal textarea, #submitted {
    width: 86%;
    margin-left: auto;
    margin-right: auto;
  }
  
  #about {
    font-size: 1rem;
    margin-bottom: 80px;
  }

  #photo {
  margin-top: 2.5rem;
  }
}

@media only screen and (max-width: 575px) {
  .card {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .form-group>div {
    padding: 0;
  }

  .form-horizontal input, .form-horizontal textarea, #submitted {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  
  #about {
    font-size: 1rem;
    margin-bottom: 80px;
  }

  #photo {
  margin-top: 2.5rem;
  }
}

@keyframes borderColors {
  0% {
    border-top-color: #07bbd3;
    border-right-color: #ff9100;
    border-bottom-color: #ff0080;
    border-left-color: #bbff00;
  }
  25% {
    border-top-color: #bbff00;
    border-right-color: #07bbd3;
    border-bottom-color: #ff9100;
    border-left-color: #ff0080;
  }
  50% {
    border-top-color: rgb(255, 0, 128);
    border-right-color: rgb(187, 255, 0);
    border-bottom-color: rgb(7, 187, 211);
    border-left-color:  rgb(255, 145, 0);
  }
  75% {
    border-top-color: rgb(255, 145, 0);
    border-right-color: rgb(255, 0, 128);
    border-bottom-color: rgb(187, 255, 0);
    border-left-color: rgb(7, 187, 211);
  }
  100% {
    border-color: rgb(255, 255, 255);
  }
}